.wrap {
  max-width: 1032px;
  margin: 0 auto;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif; }

.metabar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0; }

.logo {
  width: 45px;
  height: 45px; }

.signIn {
  margin-right: 16px;
  text-decoration: none;
  color: #1c9963; }

.started {
  border: 1px solid #1c9963;
  padding: 5px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #1c9963; }

.header {
  margin-bottom: 5px;
  padding: 0 20px; }

.bigLogo {
  width: 75%;
  margin: 45px auto; }

.big-logo {
  width: 100%;
  height: 200px;
  background: url("https://cdn-images-1.medium.com/max/952/1*TvOnUZVlpgu-UCWh2kBFEA@2x.png") no-repeat;
  background-size: 75%;
  background-position: center; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search-input {
  display: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54); }

.search-start {
  display: block; }

.twitter {
  margin: 0 8px; }

.follow {
  border: 1px solid #1c9963;
  padding: 1px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #1c9963; }

hr {
  margin: 15px 0;
  border-color: rgba(0, 0, 0, 0.1); }

.nuxtImg {
  background: url("https://cdn-images-1.medium.com/max/1250/1*BkRCeibWDrtp2-K3f28q_g.jpeg");
  width: 655px;
  height: 350px;
  margin: 0 13px;
  background-size: cover;
  background-position: 50% 50%; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.bigContent {
  width: 320px; }

.bigContent-title {
  line-height: 1.3;
  font-size: 38px;
  font-family: fantasy; }

.bigContent-p {
  line-height: 1.2; }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 20px 0; }

.people-face {
  width: 36px;
  height: 36px;
  border-radius: 50%; }

.personName {
  position: relative;
  line-height: 1.2; }

.people-link {
  text-decoration: none;
  color: #1c9963; }

.smallContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 13px; }

.content-item {
  width: 315px; }

.linkImg {
  display: block;
  width: 315px;
  height: 175px;
  background: url("https://cdn-images-1.medium.com/max/500/1*bqG3RoXHBpwyhrb3g2_STQ.jpeg");
  background-position: center;
  background-size: cover; }

.content-title {
  font-size: 24px;
  line-height: 1.2; }

.content-p {
  margin: 10px 0;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 50px; }

.footer-link {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none; }

.footer-space::after {
  content: '\00B7';
  margin: 0 3px; }

.footer-link:hover {
  color: #000; }

.personTooltip {
  visibility: hidden;
  position: absolute;
  bottom: 150%;
  left: -20%;
  width: 260px;
  margin-left: -60px;
  border: 1px solid #000;
  padding: 5px 0;
  z-index: 1;
  background: #FFF;
  text-align: center;
  border-radius: 6px; }

.personTooltip::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #FFF;
  -webkit-box-shadow: 1px 1px 1px -1px #000;
  box-shadow: 1px 1px 1px -1px #000; }

.person:hover .personTooltip {
  visibility: visible; }

.tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
