$green-color: #1c9963;
$gray-color:rgba(0,0,0,.54);
$black-color:#000;
$hr:rgba(0,0,0,.1);
$title-size:38px;
$small-title:24px;
.wrap{
    width: 1032px;
    margin: 0 auto;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
 }
.metabar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:15px 0;
    flex:1 1 1032px;
}

.metabar img{
    width: 45px;
    height:45px;
   
}

.buttonset a{
    text-decoration: none;
    color:$green-color;
}
.signIn{
    margin-right: 16px;
}
.started{
    border: 1px solid $green-color;
    padding:5px 16px;
    border-radius: 4px;
}
.header{
    width: 1000px;
    padding: 0 20px;
    margin-bottom: 5px;
}
.bigLogo{
    max-width: 476px;
    margin: 45px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.twitter{
    margin: 0 8px;
}
.follow{
    border: 1px solid $green-color;
    padding: 1px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: $green-color;
}
hr{
    border-color: $hr;
    margin: 15px 0;
}
.nuxtImg{
    background: url('https://cdn-images-1.medium.com/max/1250/1*BkRCeibWDrtp2-K3f28q_g.jpeg');
    width: 655px;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 13px;
}
.content{
    display: flex;
    justify-content: space-around;
}
.bigContent{
    width: 320px;
     
}
.bigContent h3{
    font-size: $title-size;
    font-family:fantasy;
    line-height: 1.3;
}
.bigContent p{
    line-height: 1.2;
}
.person{
   width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
   
}
.person img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.personName{
    line-height: 1.2;
    position: relative;
}
.personName a{
    text-decoration: none;
    color:$green-color;
}
.smallContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:50px 0;
    padding: 13px;
}
.smallContent li{
    width: 315px;
    
}
.linkImg{
    display: block;
    background: url("https://cdn-images-1.medium.com/max/500/1*bqG3RoXHBpwyhrb3g2_STQ.jpeg");
    background-position: center;
    background-size: cover; 
    width: 315px;
    height: 175px;
}
.smallContent li h4{
    font-size: $small-title;
    line-height: 1.2;
}
.smallContent li p{
    line-height: 1.5;
    color:$gray-color;
    margin: 10px 0;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.footer a{
    color: $gray-color;
    text-decoration: none;
    display: block;
}
.footer a:hover{
    color:$black-color;
}
.personTooltip{
    visibility: hidden;
    width: 260px;
    text-align: center;
    border-radius: 6px;
    border:1px solid $black-color;
    padding: 5px 0;
    position: absolute;
    background: #FFF;
    z-index: 1;
    bottom: 150%;
    left: -20%;
    margin-left: -60px;
}
.personTooltip::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #FFF;
    box-shadow: 1px 1px 1px -1px $black-color;
  }
.person:hover .personTooltip {
    visibility: visible;
}